
.button-container {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    margin-top: 20px; /* 添加顶部间距 */
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    min-width: 3.5cm;
    background-color: #61dafbaa;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }
  
  .action-button:hover {
    background-color: #646cffaa;
  }
  
  .divider {
    width: 1px;
    height: 40px; /* 分隔线的高度 */
    background-color: #ccc;
    margin: 0 20px; /* 左右间距 */
  }
  
  /* 响应式调整 */
  @media (max-width: 600px) {
    .introduction {
      width: 90%; /* 在小屏幕上增加宽度百分比 */
    }
  
    .AboutPage-subHeader {
      min-width: 70px; /* 在小屏幕上调整标题最小宽度 */
      font-size: 16px; /* 在小屏幕上调整标题字体大小 */
    }
  
    .AboutPage-contact {
      font-size: 14px; /* 在小屏幕上调整内容字体大小 */
    }
  
    .AboutPage-input {
      width: 150px; /* 在小屏幕上调整输入框宽度 */
      height: 25px; /* 在小屏幕上调整输入框高度 */
    }
  
    .button-container {
      flex-direction: column; /* 在小屏幕上使按钮垂直排列 */
    }
  
    .divider {
      width: 100%; /* 使分隔线在小屏幕上水平占满 */
      height: 1px; /* 调整分隔线高度 */
      margin: 10px 0; /* 调整间距 */
    }
  }